services:
  # 这是一个完全属于您的私有区块链节点
  orasrs-chain:
    image: ethereum/client-go:stable
    command: 
      - --dev               # 开发模式 (自动挖矿，秒级出块)
      - --dev.period=1      # 1秒一个块
      - --http              # 开启 HTTP RPC
      - --http.addr=0.0.0.0
      - --http.port=8545
      - --http.api=eth,net,web3,personal,miner
      - --http.corsdomain=*
      - --networkid=8888    # 您的专属链 ID
    ports:
      - "8545:8545"
    restart: always