# prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

scrape_configs:
  - job_name: 'orasrs'
    static_configs:
      - targets: ['orasrs:3006']
    metrics_path: '/metrics'
    scrape_interval: 10s
    scrape_timeout: 5s